<!DOCTYPE html>
<html lang="en">
  <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Home Page</title>

      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

    <style>


      /* Navbar */
      body {font-family: Arial, Helvetica, sans-serif; margin: 0;}

      .navbar {
      width: 100%; /* Make the navbar span the entire width */
      background-color: #9f1c1cca;
      overflow: auto;
      position: fixed; 
      top: 0;
      transition: top 0.3s; 
      z-index: 999; 
      }


      /* in navbar */
      .navbar a {
      float: left;
      padding: 12px;
      color: white;
      text-decoration: none;
      font-size: 30px;
      }

      .navbar a:hover {
      background-color: #ffffffca;
      }

      .active {
      background-color: #646464ca;
      }

      @media screen and (max-width: 500px) {
      .navbar a {
          float: none;
          display: block;
        }
      }

      @keyframes moveRight {
              0% { margin-left: 0; }
              100% { margin-left: calc(100% - 100px); }
      }

      /* interface and waves */
      main {
          margin: 0;
          padding: 0;
          min-width: 100%;
          min-height: 100vh;
          font-family: sans-serif;
          text-align: center;
          color: #ffffff;
          background: #000000;
          position: relative;
          display: flex;
          justify-content: center;
          align-items: center;
      }

      /* start button */
      button {
          position: absolute;
          left: 50%;
          top: 50%;
          width: 100px;
          height: 50px;
          margin-left: -50px;
          margin-top: 60px;
          z-index: 100;
          padding: .25em .5em;
          color: #fff;
          background: #454444;
          border: 1px solid #fff;
          border-radius: 4px;
          cursor: pointer;
          font-size: 1.15em;
          font-weight: 200;
          box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
          transition: box-shadow .5s;
      }

      /* active button */
      .joinBtn:active {
          box-shadow: 2px 2px 5px #5cfc4dbf;
      } 

      /* button shadow */
      button:hover {
        box-shadow: 0 0 30px 5px rgba(255, 255, 255, 0.75);
      }

      main {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
      } 

      main>div {
        display: inline-block;
        width: 3px;
        height: 100px;
        margin: 0 7px;
        background: currentColor;
        transform: scaleY(.5);
        opacity: .25;
      } 

      main.error {
        color: #f7451d;
        min-width: 20em;
        max-width: 30em;
        margin: 0 auto;
        white-space: pre-line;
      }

      #transcript {
        position: fixed;
        top: 60%;
        width: 100vw;
        /* padding-left: 20vw;
        padding-right: 20vw; */
        font-size: x-large;
      }
    </style>
  </head>

  <body>

    <div class="navbar">
        <a class="active" href="{{ url_for('home') }}"><i class="fas fa-street-view"></i>Sacha</a> 
    </div>

    <main>

      <form method="post">
        <button onclick="init()">start</button>
        <!-- <button onclick="init()"; id="startButton">Start </button> -->
      </form>
    </main>

    <div id="transcript"></div>




    <script>
    class AudioVisualizer {
      constructor() {
        this.visualMainElement = document.querySelector('main');
        this.visualValueCount = 16;
        this.visualElements = [];
        this.createDOMElements();
        this.visualizationInterval = null;
        this.isSpeaking = false;
        this.startListening();
      }

      createDOMElements() {
        for (let i = 0; i < this.visualValueCount; ++i) {
          const elm = document.createElement('div');
          this.visualMainElement.appendChild(elm);
          this.visualElements.push(elm);
        }
      }

      updateVisualization() {
        const data = new Uint8Array(32); // Mock data for visualization
        for (let i = 0; i < data.length; i++) {
          data[i] = Math.random() * 255;
        }

        const dataMap = { 0: 15, 1: 10, 2: 8, 3: 9, 4: 6, 5: 5, 6: 2, 7: 1, 8: 0, 9: 4, 10: 3, 11: 7, 12: 11, 13: 12, 14: 13, 15: 14 };
        const values = Object.values(data);
        for (let i = 0; i < this.visualValueCount; ++i) {
          const value = values[dataMap[i]] / 255;
          const elmStyles = this.visualElements[i].style;
          elmStyles.transform = `scaleY(${value})`;
          elmStyles.opacity = Math.max(0.25, value);
        }
      }

      startListening() {
        const recognition = new webkitSpeechRecognition(); // for Chrome
        recognition.continuous = true;
        recognition.interimResults = true;

        recognition.onstart = () => {
          this.isSpeaking = true;
          if (!this.visualizationInterval) {
            this.visualizationInterval = setInterval(() => {
              this.updateVisualization();
            }, 100); // Adjust the interval as needed
          }
        };

        recognition.onend = () => {
          this.isSpeaking = false;
          if (this.visualizationInterval) {
            clearInterval(this.visualizationInterval);
            this.visualizationInterval = null;
            // Clear visualization when speech stops
            this.clearVisualization();
          }
        };

        recognition.start();
      }

      clearVisualization() {
        for (const elm of this.visualElements) {
          elm.style.transform = 'scaleY(0)';
          elm.style.opacity = '0';
        }
      }
    }

    function init() {
      const audioVisualizer = new AudioVisualizer();
    }
    </script>

  </body>


</html>